@page
@model FavoritesModel
@{
    ViewData["Title"] = "Favorite recipes";
}
<div class="row">
    <div class="col-2">
        <partial name="_RecipeNavMenuPartial" view-data="@ViewData"/>
    </div>
    <div class="col-6">
        <h1 class="display-6 ms-3 mt-0 mb-3">Favorite recipes:</h1>
        @if(@Model.FavoriteRecipes.Count > 0){
            @foreach(var recipe in Model.FavoriteRecipes){
                <div class="row mb-4">
                    <div class="border col-11 border-info rounded-3  pb-3 position-relative" style="">
                        <h3><a class="stretched-link nav-link text-dark" asp-page="/Recipes/ResipeDetails" asp-route-Id="@recipe.Id">@recipe.Title</a></h3>
                        <div class="row ">
                            <div class="col"></div>
                            <div class="col-9  text-truncate align-content-center">
                                <span class="user-select-none text-muted text-truncate flex-wrap">@recipe.Description</span>
                            </div>
                            <div class="col-2">
                                <small class="text-muted">@recipe.ViewCount</small>
                                <img src="~/img/eye.svg" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                    <form  class="col-1 d-flex" method="post" asp-route-recipeId=@recipe.Id>
                        <button class="btn btn-outline-danger vibro">
                            <img  src="~/img/clear.svg" alt="" srcset="">
                        </button>
                    </form>

                </div>
                
            }
        } 
        else{
            <p class="lead text-center">There is nothing</p>
        }
    </div>
</div>