@page 
@model UploadRecipeModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Add Recipe"];
}
<div class="row">
    <div class="col-2">
        <partial name="_RecipeNavMenuPartial" />
    </div>
    <div class="col-7">
        <div class="row g-3 align-items-center">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3 field">
                    <div class="form-floating">
                        <input class="form-control" type="text" asp-for="Recipe.Title" />
                        <label class="form-label" asp-for="Recipe.Title">@Localizer["Title"]</label>
                    </div>
                    <div class="invalid-feedback d-block">
                        <span class="validation text-danger" asp-validation-for="Recipe.Title"></span>
                    </div>
                </div>
                <div class="mb-3 field">
                    <div class="form-floating">
                        <input class="form-control" type="text" asp-for="Recipe.Description" />
                        <label class="form-label" asp-for="Recipe.Description">@Localizer["Description"]</label>
                    </div>
                    <div class="invalid-feedback d-block">
                        <span class="validation text-danger" asp-validation-for="Recipe.Description"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label text-muted" asp-for="Recipe.Ingredients">@Localizer["Ingredients"]</label>
                    <div class="ingredients">
                    </div>
                    <textarea id="ingredients" hidden asp-for="Recipe.Ingredients"></textarea>
                    <div class="invalid-feedback d-block">
                        <span class="validation text-danger" asp-validation-for="Recipe.Ingredients"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success" id="adding" type="button">@Localizer["Add ingredient"]</button>
                    <button class="btn btn-danger" id="removing" type="button">@Localizer["Remove ingredient"]</button>
                </div>
                <div class="mb-3 field">
                    <div class="form-floating">
                        <textarea class="form-control" asp-for="Recipe.CookingMethod" style="height: 100px"></textarea>
                        <label class="form-label" asp-for="Recipe.CookingMethod">@Localizer["How to cook?"]</label>
                    </div>
                    <div class="invalid-feedback d-block">
                        <span class="validation text-danger" asp-validation-for="Recipe.CookingMethod"></span>
                    </div>
                </div>
                <div class="mb-3 field">
                    <label class="form-label" asp-for="Recipe.Files"><u>@Localizer["Photos"]</u></label>
                    <input class="form-control" multiple asp-for="Recipe.Files"  accept="image/*"/>
                    <div class="invalid-feedback d-block">
                        <span class="validation text-danger" asp-validation-for="Recipe.Files"></span>                    
                    </div>
                </div>
                <button id="send" type="submit" class="btn btn-primary btn-block mb-4">@Localizer["Add"]</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        let IngredientsRows = $('#ingredients').val().split('\n')
        for (row of IngredientsRows)
            if(row != '')
                $('<input class="form-control" />', {type: 'text' }).attr('value', row).appendTo('.ingredients')
    });
    $('#adding').click(function(){
        $('<input class="form-control" value=""/>').appendTo('.ingredients')
    });
    $('#removing').click(function(){
        $('.ingredients input:last-child').remove()
    });
    $('#send').click(function(){
        let textIngrigients = "";
        for (let elem of $('.ingredients input')){
            console.log(elem.value)
            textIngrigients += elem.value + '\n';
        }

        $('#ingredients').empty()   
        $('#ingredients').append(textIngrigients)
    })

    if(document.URL == document.referrer){
        $('.field').each(function(){
            if($('span', this).text() != ''){
                $('.form-control', this).addClass('is-invalid')
            } else {
                if($('.form-control', this).attr('type') != "file")
                $('.form-control', this).addClass('is-valid')
            }
        })
    }
</script>