@page
@model FavoritesModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Favorite recipes"];
}
<div class="row">
    <div class="col-2">
        <partial name="_RecipeNavMenuPartial" view-data="@ViewData"/>
    </div>
    <div class="col-7">
        <h1 class="display-6 ms-3 mt-0 mb-3">@Localizer["Favorite recipes"]</h1>
        @if(@Model.FavoriteRecipes.Count > 0){
            @foreach(var recipe in Model.FavoriteRecipes){
                <div class="row mb-4">
                    <div class="border col-11 border-info rounded-3  pb-3 position-relative" style="">
                        <h3><a class="stretched-link nav-link text-dark" asp-page="/Recipes/ResipeDetails" asp-route-Id="@recipe.Id">@recipe.Title</a></h3>
                        <div class="row ">
                            <div class="col"></div>
                            <div class="col-9  text-truncate align-content-center">
                                <span class="user-select-none text-muted text-truncate flex-wrap">@recipe.Description</span>
                            </div>
                            <div class="col-2">
                                <small class="text-muted">@recipe.ViewCount</small>
                                <img asp-append-version="true" src="~/img/eye.svg" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                    <div class="col-1 d-flex">
                        <button class="btn btn-outline-danger vibro" data-bs-toggle="modal" data-bs-target="#deleteFavoriteRecipeModal">
                            <img asp-append-version="true" src="~/img/clear.svg" alt="" srcset="">
                        </button>
                    </div>
                    <!--Modal window-->
                    <div class="modal fade" id="deleteFavoriteRecipeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"> @Localizer["Do you want to delete recipe from favorites?"]</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body d-flex flex-row">
                                    <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">@Localizer["Close"]</button>
                                    <form method="post" asp-route-recipeId=@recipe.Id>
                                        <button type="submit" class="btn btn-danger me-1">@Localizer["Delete"]</button> 
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        } 
        else{
            <p class="lead text-center">@Localizer["There is nothing"]</p>
        }
    </div>
</div>

